#bandeira-romenia {
     display: flex;
     flex-direction: row;
     justify-content: center;
}

.azul {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    animation-name: azul;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: 2;
}

@keyframes azul {
    from {
        height: 0px;
    }
    to {
        height: 300px;
    }
}

.amarela {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
    animation-name: amarela;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 2;
}

@keyframes amarela {
    from {
        height: 0px;
    }
    to {
        height: 300px;
    }
}

.vermelha {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: vermelha;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 2;
}

@keyframes vermelha {
    from {
        height: 0px;
    }
    to {
        height: 300px;
    }
}