/*
* @author Raphael Ramalho
*/

/* Layout 
------------------------- */

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #e4f8ff;
}

#container1 {
    padding: 15px;
    text-align: center;
    background-color: #728d94;
}

#container2 {
    padding: 15px;
    text-align: center;
    background-color: #728d94;
}

#container3 {
    padding: 15px;
    text-align: center;
    background-color: #728d94;
}