.inicio h1{
    display: flex;
    justify-content: center;
}
.inicio h2{
    display: flex;
    justify-content: center;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link2 {
    display: flex;
    justify-content: center;
    align-items: center;
}