body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding: 50px;
}

h1 {
    color: #1c1c1c37;
    font-size: 36px;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px #333;
    position: relative;
}

h2 {
    font-family: 'Open Sans';
    color: #1c1c1c37;
    font-size: 24px;
    margin: 10px 0;
    font-style: italic;
    text-shadow: 1px 1px #333;
}

.botoes {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px #333;
}

button:hover {
    background-color: #f2f2f2;
    color: #333;
    box-shadow: none;
}

.frase {
    margin: auto;
    font-size: 18px;
    animation: aparecer 1s ease-in-out;
    border-left: 3px solid #525252;
    border-radius: 3px;
    background-color: #e0e0e0af;
    height: 22vh;
    width: 65vh;
    color: rebeccapurple;
    padding: 60px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    font-size: 14px;
    color: #333;
    animation: aparecer 1s ease-in-out;
    margin-top: 140px;
}

section {
    margin: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 20px auto;
}

a {
    text-decoration: none;
}

footer {
    margin-top: 20px;
    text-align: center;
}

section ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

section li {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

.button {
    position: absolute;
    top: 20px;
    left: 20px;
}

ul {
    text-align: left;
    font-size: 14px;
}

li {
    margin: 9px;
}

.topic-box {
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    width: 300px;
    text-align: center;
}